<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分散式神奇海螺 - 回答結果</title>
</head>

<body>
    <h1>神奇海螺簡答題</h1>
    <h2>問題為</h2>
    <p>{{question.content[2]}}</p>
    <h2>目前有以下回答</h2>
    <ul class="answers_list">
        {% for answer in question.answers %}
        <li id='answer-{{answer[0]}}'>
            <span>{{ answer[3]}}</span>
            <button class="bonus">狂</button>
            <button class="bonus">Good</button>
            <button class="rat">檢舉</button>
        </li>
        {% endfor %}
    </ul>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script>
        $.urlParam = function (name) {
            const results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href)
            return results[1] || 0
        }
        $(".answers_list").delegate(".rat", "click", function () {
            if($('.rat-submit').length == 0) {
                html = '<input type="text" name="reason" placeholder="請輸入原因~">'
                html += '<button class="rat-submit">送出</button>'
                $(this).after(html)
            } else {
                $("input[name=reason]").remove()
                $( ".rat-submit" ).remove()
            }
        })
        $(".answers_list").delegate(".rat-submit", "click", function () {
            const answer_id = $(this).parent().attr('id').replace('answer-', '')
            const reason = $("input[name=reason]").val();
            send_rat(answer_id, reason)
        })
        const send_rat = (answer_id, reason) => {
            const chat_id = $.urlParam('user')
            const hash_value = $.urlParam('hash')
            const route = window.location.pathname
            axios.post(route, {
                    chat_id: chat_id,
                    answer_id: answer_id,
                    hash_value: hash_value,
                    reason: reason
                })
                .then(function (response) {
                    console.log(response)
                    $( ".rat-submit" ).after('<span class="message">檢舉成功!</span>')
                    remove_ratbox() 
                })
                .catch(function (error) {
                    console.log(error)
                    $( ".rat-submit" ).after('<span class="message">可能重複檢舉了!</span>')
                    remove_ratbox()
                });
        }
        const remove_ratbox = () => {
            $("input[name=reason]").remove()
            $( ".rat-submit" ).remove()
        }
    </script>
</body>

</html>